.about-page .wrapper {
    max-width: 100%; 
    padding: 0 20px; 
}

.pois-page {
    background-color: #accbe1 !important;
    color: #333;
}
.photos-list {   
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 20px; 
  max-width: 1000px; 
  margin: 0 auto;
}

.photos-item {
  text-align: center;
}

.photos-item img {
  width: 100% !important;
  height: auto;
  max-width: 300px; 
  border-radius: 10px;
  transition: transform 0.3s;
}

.photos-item img:hover {
  transform: scale(1.05); 
}
