<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

    <body class="{{ page.body_class }}" 
      {% if page.body_class == "pois-page" %} style="background-color: #d0e4f5;" 
      {% elsif page.body_class == "team-page" %} style="background-color: #e6ccff;" 
      {% endif %}>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
